:root {
    --md-primary-color: #2196F3; 
    --md-primary-color-light: #64B5F6;
    --md-primary-color-dark: #1976D2;
    --md-secondary-color: #FF4081; 
    --md-secondary-color-light: #FF80AB;
    --md-secondary-color-dark: #C51162;
    --md-surface-color: #FFFFFF;
    --md-on-surface-color: #212121; 
    --md-on-primary-color: #FFFFFF; 
    --md-on-secondary-color: #FFFFFF;
    --md-text-color-light: #757575; 
    --md-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*background-color: #f0f0f0;*/
    /*font-family: 'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5; 
    color: var(--md-on-surface-color);
    margin: 20px;
}

.container {
    display: flex;
    width: 1420px; 
    height: 420px; 
    flex-wrap: wrap;
    justify-content: center;
}

#meuCanvas,#meuEstado {
    border: 1px solid #ccc;
    margin: 10px;
}


#meuGrafico {
    border: 1px solid #ccc;
    margin: 10px;
    width: 600px;
    height: 400px;
}

.controls {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.actions, .simulation {
    margin: 0 10px; 
    text-align: center;
}

.actions button, .simulation button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
}


.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions h2 {
    margin-bottom: 10px;
}


.cost-section {
    padding: 0 20px; 
}

.cost-input-group {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin-bottom: 8px; 
}

.cost-input-group label {
    margin-right: 15px; 
    font-weight: 500;
}

.cost-input-group input {
    width: 80px; 
    padding: 5px;
    font-size: 14px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
}
